.checkbox {
    display: flex;
    align-items: center;
}
.checkbox input {
    position: absolute;
    left: -999px;
}
.checkbox label {
    position: relative;
    padding-left: 35px;
    font-size: 14px;
    color: #333;
    font-weight: 500;
    line-height: 20px;
}
.checkbox label::before {
    content: "";
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #e2e5ee;
    border-radius: 3px;
    position: absolute;
    left: 0px;
    top: 0px;
    cursor: pointer;
}
.checkbox input[type="Checkbox"] {
    position: absolute;
    left: -99999px;
    display: none;
}
.checkbox input[type="Checkbox"]:checked + label::before {
    background-color: #656d7a;
    border: 1px solid #656d7a;
    border-radius: 3px;
    cursor: pointer;
}
.checkbox input[type="Checkbox"]:checked + label::after {
    position: absolute;
    content: "";
    left: -1px;
    top: -15px;
    width: 8px;
    height: 3px;
    border-width: 0 0 1.5px 1.5px;
    border-style: solid;
    border-color: #fff;
    transform: rotate(-45deg) translate(-10px, 20px);
}
.checkbox.disabled input, .checkbox.disabled label {
    cursor: not-allowed;
}
.checkboxdisabled label::before {
    background-color: #b2b6bd;
}
.checkboxdisabled label::after {
    display: none;
}
